html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    /* cursor:none; */
}

:root {
    --grey:rgba(0, 0, 0, 0.2);
    --lighter-grey:rgba(0, 0, 0, 0.05);
    --darker-grey:rgba(0, 0, 0, 0.4);
}

canvas {
    /* cursor: none; */
}